name: Translate files using DeepL Translate GitHub Action
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Translate locales json
        uses: lyqht/deepl-translate-github-action@v2.1.1
        with:
          target_languages: all
          input_file_path: locales/base.json
          output_file_name_pattern: locales/{language}.json
          deepl_api_key: ${{ secrets.DEEPL_API_KEY }}
